<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <!-- 글작성 -->
    <insert id="regist" parameterType="board">
        INSERT INTO boardTable(boardWriter, boardPass, boardTitle, boardContents)
        VALUES(#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents})
    </insert>

    <!--게시물 목록-->
    <select id="findBoardListAll" resultType="board">
        SELECT id,boardWriter,boardPass,boardTitle,boardContents,boardCreatedTime,boardHits,fileAttached
        FROM boardTable
        ORDER BY id DESC
    </select>

    <!--id값으로 찾기-->
    <select id="findById" parameterType="Long" resultType="board">
        SELECT id,boardWriter,boardPass,boardTitle,boardContents,boardCreatedTime,boardHits,fileAttached
        FROM boardTable
        WHERE id=#{id}
    </select>

    <!-- 조회수 증가-->
    <update id="updateHits" parameterType="Long">
        UPDATE boardTable
        SET boardHits = boardHits+1
        WHERE id=#{id}
    </update>

    <!--삭제하기 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM boardTable
        WHERE id=#{id}
    </delete>

    <!--수정하기-->
    <update id="update" parameterType="board">
        UPDATE boardTable
        SET boardTitle=#{boardTitle}, boardContents=#{boardContents}
        WHERE id=#{id}
    </update>

</mapper>