<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <!--회원가입-->
    <insert id="regist" parameterType="member">
        INSERT INTO member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        VALUES (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>

    <!-- 로그인-->
    <select id="login" parameterType="member" resultType="member">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
        WHERE memberEmail=#{memberEmail} AND memberPassword=#{memberPassword}
    </select>

    <!--회원목록 리스트-->
    <select id="findMemberList" resultType="member">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
    </select>

    <!-- 회원 id로 찾기 -->
    <select id="findById" resultType="member" parameterType="Long">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table
        WHERE id=#{id}
    </select>

    <!--삭제하기-->
    <delete id="delete" parameterType="Long">
        DELETE FROM member_table WHERE id=#{id}
    </delete>

    <!--MemberEmail 가져오기-->
    <select id="findByMemberEmail" parameterType="String" resultType="member">
        SELECT id, memberEmail, memberPassword, memberName, memberAge, memberMobile
        FROM member_table WHERE memberEmail=#{memberEmail}
    </select>

    <!--수정하기-->
    <update id="update" parameterType="member">
        UPDATE member_table
        SET memberAge=#{memberAge}, memberMobile=#{memberMobile}
        WHERE id=#{id}
    </update>
</mapper>